<!DOCTYPE html>
<html lang="en">
    <title>Predict</title>
    <link rel="stylesheet" type="text/css"  href="\static\dict.css">

<head>
</head>

<body>
 <form action="/submit" method="post">
  <h2 class="heading1">Enter Your Details For Loan Prediction</h2>
  


    <p2>Gender</p2><br><br>
    <select name="Gender">
      <option>Male</option>
      <option>Female</option>
      
    </select><br><br>


    <p2>Married Status</p2><br><br>
    <select name="Married_Status">
        
        <option>Yes</option>
        <option>No</option>
  
      </select><br><br>


     
    <p2>Dependents</p2><br><br>
    <input type="text" name="Dependents"><br><br>
     

    <p2>Education</p2><br><br>
    <select name="Education">
        
        <option>Graduate</option>
        <option>Not Graduate</option>
        
      </select><br><br>

    <p2>Self employee</p2><br><br>
    <select name="Self_Employed">
        
        <option>Yes</option>
        <option>No</option>
        
      </select><br><br>

    <p2>Applicant Income</p2><br><br>
    <input type="text" name="Applicant_Income"><br><br>

    <p2>Co Applicant Income</p2><br><br>
    <input type="text" name="Co_Applicant_Income"><br><br>

    <p2>Loan Amount</p2><br><br>
    <input type="text" name="Loan_Amount"><br><br>

    <p2>Loan Amount Term</p2><br><br>
    <input type="text" name="Loan_Amount_Term"><br><br>

    <p2>Credit History</p2><br><br>
    <input type="text" name="Credit_History"><br><br>

    <p2>Property Area</p2><br><br>
    <select name="Property_Area">
        
        <option>Urban</option>
        <option>Rural</option>
        <option>semiurban</option>
        
      </select><br><br>
    
      
    <input type="submit">


 </form>


</body>
</html>